@model IEnumerable<Items>
@{
    ViewData["Title"] = "Index";
}



<div class="container p-3" >
    <partial name="_Alerts" ></partial> <!-- creates a partial view from _alerts to enable us to view the messages on the screen after finishing the payment. -->
    <div class=" row pt-3">
        <div class =" col-6" >
            <h2>View Items</h2>
        </div>
        <div class=" col-6 text-end">
           <a asp-controller="Item" asp-action="create" class="btn btn-outline-primary">
                create new item
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg> 
            </a>
        </div>

    </div>


       
</div>

<table class="table table-hover" style="width:100%">
    <thead>
        <tr class="table-dark">
            <th scope="row">Item Name</th>
            <th scope="row"> Item Price</th>
            <th scope="row"> Item Category</th>
            <th scope="row">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <td width="40%">@item.Name</td>
                <td width="20%">@item.Price</td>
                <td width="20%">@item.Category.Name</td>
                <td width="=20%"> 


                    <a asp-controller="Item" asp-action="Edit"      asp-route-Id="@item.ID"    class="btn btn-sm btn-outline-warning"> 
                        Edit  
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>



                    <a asp-controller="Item" asp-action="Delete"    asp-route-Id="@item.ID"     class="btn btn-sm btn-outline-danger">
                        Delete
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </a>



                </td>
                
                

            </tr>
        }
    </tbody> 
    </table>

    @section scripts{
        <script>
            window.setTimeout(function () {
                var message = document.getElementById("message");
                if (message) {
                    message.style.display = 'none';
                }


            }, 3000 );//the life time of the message = 3 sec.
        </script>
        
    }

